/* YourComponentStyles.css */

.gradient-background {
  background-image: linear-gradient(to right top, #333333, #454954, #4c6278, #487e9a, #359cb6, #3aafc0, #48c2c7, #5cd4cc, #7fdecb, #9de8cd, #b9f2d1, #d3fbd8);
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    background-color: skyblue;
    color: black;
    border-radius: 8px;
    padding: 1%;
    cursor: pointer;
    border: none;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .gradient-background svg {
    pointer-events: none;
    height: 40vh;
    width: 40vw;
  }

  #button-ui{
    text-decoration: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .gradient-background svg {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  